In [1]:
people = {
    'first':['ashok','dattu','vinay'],
    'last':['babu','naik','babu'],
    'email':['gashokbabu999@gamil.com','gdattunaik@gmail.com','mvinaybabu@gmail.com']
}

In [2]:
df = pd.DataFrame(people)

In [3]:
df

   first  last                    email
0  ashok  babu  gashokbabu999@gamil.com
1  dattu  naik     gdattunaik@gmail.com
2  vinay  babu     mvinaybabu@gmail.com

In [4]:
df['first'] + ' ' + df['last']

0    ashok babu
1    dattu naik
2    vinay babu
dtype: object

In [5]:
# adding column
df['full_name'] = df['first'] + ' ' + df['last']
#do not use . notation here if use . it actually add an attribute to the Dataframe object use [] only

In [6]:
df

   first  last                    email   full_name
0  ashok  babu  gashokbabu999@gamil.com  ashok babu
1  dattu  naik     gdattunaik@gmail.com  dattu naik
2  vinay  babu     mvinaybabu@gmail.com  vinay babu

In [7]:
df.drop(columns=['full_name'])   #it donot apply the changes to the dataframe if you donot use implace=True

   first  last                    email
0  ashok  babu  gashokbabu999@gamil.com
1  dattu  naik     gdattunaik@gmail.com
2  vinay  babu     mvinaybabu@gmail.com

In [8]:
df

   first  last                    email   full_name
0  ashok  babu  gashokbabu999@gamil.com  ashok babu
1  dattu  naik     gdattunaik@gmail.com  dattu naik
2  vinay  babu     mvinaybabu@gmail.com  vinay babu

In [9]:
df.drop(columns=['full_name'],inplace=True)

In [10]:
df

   first  last                    email
0  ashok  babu  gashokbabu999@gamil.com
1  dattu  naik     gdattunaik@gmail.com
2  vinay  babu     mvinaybabu@gmail.com

In [11]:
df['email'].str.split('@')

0    [gashokbabu999, gamil.com]
1       [gdattunaik, gmail.com]
2       [mvinaybabu, gmail.com]
Name: email, dtype: object

In [12]:
df['email'].str.split('@',expand=True)

               0          1
0  gashokbabu999  gamil.com
1     gdattunaik  gmail.com
2     mvinaybabu  gmail.com

In [13]:
df[['value','domain']] = df['email'].str.split('@',expand=True)

In [14]:
df

   first  last                    email          value     domain
0  ashok  babu  gashokbabu999@gamil.com  gashokbabu999  gamil.com
1  dattu  naik     gdattunaik@gmail.com     gdattunaik  gmail.com
2  vinay  babu     mvinaybabu@gmail.com     mvinaybabu  gmail.com

# Adding Rows and Removing Rows

In [15]:
df.append({'first':'subhash'})

TypeError: Can only append a dict if ignore_index=True

In [16]:
df.append({'first':'subhash'},ignore_index=True)

     first  last                    email          value     domain
0    ashok  babu  gashokbabu999@gamil.com  gashokbabu999  gamil.com
1    dattu  naik     gdattunaik@gmail.com     gdattunaik  gmail.com
2    vinay  babu     mvinaybabu@gmail.com     mvinaybabu  gmail.com
3  subhash   NaN                      NaN            NaN        NaN

In [17]:
people2 = {
    'first':['ram','syam',],
    'last':['babu','naik',],
    'email':['rambabu@gamil.com','syamnaik@gmail.com']
}
df2 = pd.DataFrame(people2)

In [18]:
df.append(df2,ignore_index=True)

   first  last                    email          value     domain
0  ashok  babu  gashokbabu999@gamil.com  gashokbabu999  gamil.com
1  dattu  naik     gdattunaik@gmail.com     gdattunaik  gmail.com
2  vinay  babu     mvinaybabu@gmail.com     mvinaybabu  gmail.com
3    ram  babu        rambabu@gamil.com            NaN        NaN
4   syam  naik       syamnaik@gmail.com            NaN        NaN

In [20]:
df = df.append(df2,ignore_index=True)

In [22]:
#removing rows
df.drop(index=4,inplace=True)

In [23]:
df.drop(index=df[df['last']=='naik'].index)

   first  last                    email          value     domain
0  ashok  babu  gashokbabu999@gamil.com  gashokbabu999  gamil.com
2  vinay  babu     mvinaybabu@gmail.com     mvinaybabu  gmail.com
3    ram  babu        rambabu@gamil.com            NaN        NaN

In [24]:
filt = df['last']=='naik'
df.drop(index=df[filt].index)
#it executed perfectly after aplying 2 times because we don not apply the changes by doing inplace = True

   first  last                    email          value     domain
0  ashok  babu  gashokbabu999@gamil.com  gashokbabu999  gamil.com
2  vinay  babu     mvinaybabu@gmail.com     mvinaybabu  gmail.com
3    ram  babu        rambabu@gamil.com            NaN        NaN