In [1]:
import pyforest

In [2]:
df1 = pd.DataFrame({'city':['bhimavaram','guntur','vijayawada','idupulapadu'],'temperature':[45,34,23,30]})
df1

          city  temperature
0   bhimavaram           45
1       guntur           34
2   vijayawada           23
3  idupulapadu           30

In [30]:
df2 = pd.DataFrame({'city':['guntur','vijayawada','bhimavaram','ramavaram'],'humidity':[30,12,24,35]})
df2

         city  humidity
0      guntur        30
1  vijayawada        12
2  bhimavaram        24
3   ramavaram        35

In [31]:
pd.merge(df1,df2,on='city')   #it only take the common cities(intersection) from both the dataframes

         city  temperature  humidity
0  bhimavaram           45        24
1      guntur           34        30
2  vijayawada           23        12

In [32]:
pd.merge(df1,df2,on='city',how='outer')   #it takes all the cities(union) from both the joins.the missing data is treated as nan

          city  temperature  humidity
0   bhimavaram         45.0      24.0
1       guntur         34.0      30.0
2   vijayawada         23.0      12.0
3  idupulapadu         30.0       NaN
4    ramavaram          NaN      35.0

In [33]:
#left join will take the all values in df1 and right take reverse of left
pd.merge(df1,df2,on='city',how='left')

          city  temperature  humidity
0   bhimavaram           45      24.0
1       guntur           34      30.0
2   vijayawada           23      12.0
3  idupulapadu           30       NaN

In [34]:
pd.merge(df1,df2,on='city',how='left',indicator=True)

          city  temperature  humidity     _merge
0   bhimavaram           45      24.0       both
1       guntur           34      30.0       both
2   vijayawada           23      12.0       both
3  idupulapadu           30       NaN  left_only

In [35]:
!pip freeze

asgiref==3.2.7
astroid==2.4.2
autopep8==1.5.3
backcall==0.2.0
certifi==2020.6.20
cffi==1.14.0
colorama==0.4.3
cryptography==3.0
cycler==0.10.0
decorator==4.4.2
dj-database-url==0.5.0
Django==3.0.7
django-crispy-forms==1.9.1
django-extensions==3.0.2
django-heroku==0.3.1
django-rest==0.8.6
django-rest-knox==4.1.0
djangorestframework==3.11.0
gunicorn==20.0.4
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.2
jupyter-client==6.1.7
jupyter-core==4.6.3
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.3.2
mccabe==0.6.1
numpy==1.19.2
parso==0.7.1
pep8==1.7.1
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.7
psycopg2==2.8.5
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.7.0
pylint==2.5.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pywin32==228
pyzmq==19.0.2
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
tornado==6.0.4
traitlets==5.0.4
typed-ast==1.4.1
wcwidth==0.2.5
whitenoise==5.2.0
wrapt==1.12.1

In [36]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\asus\django\lib\site-packages (3.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\asus\django\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\asus\django\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: numpy>=1.15 in c:\users\asus\django\lib\site-packages (from matplotlib) (1.19.2)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\asus\django\lib\site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: cycler>=0.10 in c:\users\asus\django\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\asus\django\lib\site-packages (from matplotlib) (1.2.0)

WARNING: You are using pip version 20.1.1; however, version 20.2.3 is available.
You should consider upgrading via the 'C:\Users\Asus\django\Scripts\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pillow>=6.2.0 in c:\users\asus\django\lib\site-packages (from matplotlib) (7.2.0)
Requirement already satisfied: six>=1.5 in c:\users\asus\django\lib\site-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [37]:
import pandas as pd

In [38]:
import matplotlib

In [39]:
import cv2

In [40]:
!pip freeze

asgiref==3.2.7
astroid==2.4.2
autopep8==1.5.3
backcall==0.2.0
certifi==2020.6.20
cffi==1.14.0
colorama==0.4.3
cryptography==3.0
cycler==0.10.0
decorator==4.4.2
dj-database-url==0.5.0
Django==3.0.7
django-crispy-forms==1.9.1
django-extensions==3.0.2
django-heroku==0.3.1
django-rest==0.8.6
django-rest-knox==4.1.0
djangorestframework==3.11.0
gunicorn==20.0.4
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.2
jupyter-client==6.1.7
jupyter-core==4.6.3
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.3.2
mccabe==0.6.1
numpy==1.19.2
parso==0.7.1
pep8==1.7.1
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.7
psycopg2==2.8.5
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.7.0
pylint==2.5.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pywin32==228
pyzmq==19.0.2
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
tornado==6.0.4
traitlets==5.0.4
typed-ast==1.4.1
wcwidth==0.2.5
whitenoise==5.2.0
wrapt==1.12.1

In [2]:
import sys
sys.executable

'c:\\users\\asus\\appdata\\local\\programs\\python\\python38\\python.exe'