In [1]:
import pyforest

In [2]:
people = {
    'first':['ashok','dattu','vinay'],
    'last':['babu','naik','babu'],
    'email':['gashokbabu999@gamil.com','gdattunaik@gmail.com','mvinaybabu@gmail.com']
}

In [3]:
df = pd.DataFrame(people)

In [5]:
df.sort_values(by='last')

   first  last                    email
0  ashok  babu  gashokbabu999@gamil.com
2  vinay  babu     mvinaybabu@gmail.com
1  dattu  naik     gdattunaik@gmail.com

In [6]:
df.sort_values(by='last',ascending=False)  #to sort in descending order

   first  last                    email
1  dattu  naik     gdattunaik@gmail.com
0  ashok  babu  gashokbabu999@gamil.com
2  vinay  babu     mvinaybabu@gmail.com

In [7]:
df.sort_values(by=['first','last'])  #it apply on first name of first name is true then it checks for last name

   first  last                    email
0  ashok  babu  gashokbabu999@gamil.com
1  dattu  naik     gdattunaik@gmail.com
2  vinay  babu     mvinaybabu@gmail.com

In [9]:
df.sort_values(by=['first','last'],ascending=[True,False],inplace=True)  #it sort first by ascending order and last by descending order

In [10]:
df

   first  last                    email
0  ashok  babu  gashokbabu999@gamil.com
1  dattu  naik     gdattunaik@gmail.com
2  vinay  babu     mvinaybabu@gmail.com

In [12]:
df.sort_index()   #sort by index

   first  last                    email
0  ashok  babu  gashokbabu999@gamil.com
1  dattu  naik     gdattunaik@gmail.com
2  vinay  babu     mvinaybabu@gmail.com

In [ ]:
df['first'].sort_values()   #sorting the series data