In [110]:
people = {
    'first':['ashok','dattu','vinay'],
    'last':['babu','naik','babu'],
    'email':['gashokbabu999@gamil.com','gdattunaik@gmail.com','mvinaybabu@gmail.com']
}

In [111]:
import pyforest

In [112]:
df = pd.DataFrame(people)

In [113]:
df

   first  last                    email
0  ashok  babu  gashokbabu999@gamil.com
1  dattu  naik     gdattunaik@gmail.com
2  vinay  babu     mvinaybabu@gmail.com

In [114]:
df.dtypes

first    object
last     object
email    object
dtype: object

In [115]:
type(np.nan)

float

In [116]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [117]:
df.columns = ['first_name','last_name','email']

In [118]:
df.columns = [x.upper() for x in df.columns]
df.head()

  FIRST_NAME LAST_NAME                    EMAIL
0      ashok      babu  gashokbabu999@gamil.com
1      dattu      naik     gdattunaik@gmail.com
2      vinay      babu     mvinaybabu@gmail.com

In [119]:
df.rename(columns={'FIRST_NAME':'first','LAST_NAME':'last','EMAIL':'email'},inplace=True)
df.head()

   first  last                    email
0  ashok  babu  gashokbabu999@gamil.com
1  dattu  naik     gdattunaik@gmail.com
2  vinay  babu     mvinaybabu@gmail.com

In [120]:
df.loc[2]

first                   vinay
last                     babu
email    mvinaybabu@gmail.com
Name: 2, dtype: object

In [121]:
df.loc[(df['first'] == 'ashok') | (df['first'] == 'vinay'),'email']

0    gashokbabu999@gamil.com
2       mvinaybabu@gmail.com
Name: email, dtype: object

In [122]:
print(df['first'] == 'ashok')

0     True
1    False
2    False
Name: first, dtype: bool

In [124]:
filt = (df['first']=='ashok') & (df['last']=='babu')
df.loc[filt,'email']

0    gashokbabu999@gamil.com
Name: email, dtype: object

In [126]:
filt = (df['first']=='ashok') & (df['last']=='babu')
df_email = df.loc[filt]

In [127]:
df_email[['first','email']]

   first                    email
0  ashok  gashokbabu999@gamil.com

In [128]:
df.loc[~filt,'email']   #which are not in the filter

1    gdattunaik@gmail.com
2    mvinaybabu@gmail.com
Name: email, dtype: object

In [129]:
df.loc[0]=['gashok','babu','ashokbabuggmail.com']

In [130]:
df

    first  last                 email
0  gashok  babu   ashokbabuggmail.com
1   dattu  naik  gdattunaik@gmail.com
2   vinay  babu  mvinaybabu@gmail.com

In [131]:
df.loc[0,['first','email']] = ['ashok','gashokbabu999@gmail.com']

In [132]:
df

   first  last                    email
0  ashok  babu  gashokbabu999@gmail.com
1  dattu  naik     gdattunaik@gmail.com
2  vinay  babu     mvinaybabu@gmail.com

In [133]:
df.loc[2,'last'] = 'babum'

In [134]:
# at is used to locate the specific location(single value).it almost similar to loc
df.at[2,'last'] = 'babum'

In [135]:
df

   first   last                    email
0  ashok   babu  gashokbabu999@gmail.com
1  dattu   naik     gdattunaik@gmail.com
2  vinay  babum     mvinaybabu@gmail.com

In [141]:
filt = (df['email']=='gashokbabu999@gmail.com')
df[filt][['last','email']] = ['babug','babug@mail.com']  #this is not work because this value is setting on a temporary variable

In [142]:
df

   first   last                    email
0  ashok   babu  gashokbabu999@gmail.com
1  dattu   naik     gdattunaik@gmail.com
2  vinay  babum     mvinaybabu@gmail.com

In [144]:
filt = (df['email']=='gashokbabu999@gmail.com')
df.loc[filt,'last'] = 'babug'

In [145]:
df

   first   last                    email
0  ashok  babug  gashokbabu999@gmail.com
1  dattu   naik     gdattunaik@gmail.com
2  vinay  babum     mvinaybabu@gmail.com

In [147]:
df['email'] = df['email'].str.upper()

In [148]:
df

   first   last                    email
0  ashok  babug  GASHOKBABU999@GMAIL.COM
1  dattu   naik     GDATTUNAIK@GMAIL.COM
2  vinay  babum     MVINAYBABU@GMAIL.COM

#Advanced popular methods to update values
1.apply
2.map
3.applymap
4.replace

In [149]:
#Apply running on Series
df['email'].apply(len)

0    23
1    20
2    20
Name: email, dtype: int64

In [150]:
def update_email(email):
    return email.lower()

In [151]:
df['email'].apply(update_email)

0    gashokbabu999@gmail.com
1       gdattunaik@gmail.com
2       mvinaybabu@gmail.com
Name: email, dtype: object

In [152]:
df['email'] = df['email'].apply(update_email)

In [154]:
df['email'] = df['email'].apply(lambda x:x.lower())

In [156]:
#Applying apply function on complete DataFrame
df.apply(len)
#it is showing that 0th column has 3,1st column has 3 and 2nd column has 3

0    3
1    3
2    3
dtype: int64

In [157]:
df.apply(len,axis='columns')  #rows is the default
#it is showing that 0th row has 3,1st row has 3 and 2nd row has 3

0    3
1    3
2    3
dtype: int64

In [159]:
 #it return based on alphabetical order.this method actually work better with numerical data and make more sense
df.apply(pd.Series.min)

first                      ashok
last                       babug
email    gashokbabu999@gmail.com
dtype: object

In [161]:
df.apply(lambda x:x.min())  #here x is a series object

first                      ashok
last                       babug
email    gashokbabu999@gmail.com
dtype: object

applyng apply on series apply on every single value in the series
applyng apply on dataframe apply on every column in the dataframe

In [162]:
#applymap apply the function on each and every value
df.applymap(len)

   first  last  email
0      5     5     23
1      5     4     20
2      5     5     20

In [164]:
df.applymap(lambda x:x.upper())

   first   last                    email
0  ASHOK  BABUG  GASHOKBABU999@GMAIL.COM
1  DATTU   NAIK     GDATTUNAIK@GMAIL.COM
2  VINAY  BABUM     MVINAYBABU@GMAIL.COM

In [165]:
df.applymap(lambda x:x.lower())

   first   last                    email
0  ashok  babug  gashokbabu999@gmail.com
1  dattu   naik     gdattunaik@gmail.com
2  vinay  babum     mvinaybabu@gmail.com

In [167]:
#map method is only work on series
#map actually write the values which are nor passed int dictionart to nan
df['first'].map({'ashok':'gashok','vinay':'mvinay'})

0    gashok
1       NaN
2    mvinay
Name: first, dtype: object

In [168]:
#to overcome the disadvantages of map we use replace
df['first'].replace({'ashok':'gashok','vinay':'mvinay'})
# df['first'] = df['first'].replace({'ashok':'gashok','vinay':'mvinay'}) #to change the dataframe

0    gashok
1     dattu
2    mvinay
Name: first, dtype: object